<div class="row">
    {{#each vehicles}}
    <div class="col-md-2 mb-5">
        <div class="card">
            <div class="card-body">
            <img style="height:150px;" class="card-img-top" src="{{url}}" alt="Card image cap"/>
                <h4 class="card-title d-flex justify-content-between align-items-center">
                    {{model}} <a href="/vehicles/edit/{{_id}}"><i class="fa fa-pencil"></i></a>
                </h4>
                <p>{{brand}}</p>
                <p>{{color}}</p>
                <p>{{price}}</p>
                <p>{{vcc}}</p>
                <p>{{capacity}}</p>
                <form action="/vehicles/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-block btn-sm">Delete</button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>