<div class="row">
    <div class="col-12 col-lg-12">
        <img class="d-block w-100" src="{{vehicle.url}}" alt="">
        <div class="row mt-5">
           <div class="col-12 col-sm-12">
                <div class="jumbotron my-jumbotron">
                <h1 class="display-4">{{vehicle.brand}} {{vehicle.model}}</h1>
                <p class="lead">{{vehicle.description}}</p>
                <h5>{{vehicle.price}}</h5>
                <hr class="my-4" />
                <a href="#" class="btn btn-primary">PLACEHOLDER</a>
                </div>
            </div>
        </div>
    </div>
</div>