<div class="row">
    <div class="col-12 col-lg-12">
        <img class="d-block w-100" src="{{vehicle.url}}" alt="">
        <div class="row mt-5">
           <div class="col-12 col-sm-12">
                <div class="jumbotron my-jumbotron">
                <h1 class="display-4">{{vehicle.brand}} {{vehicle.model}}</h1>
                <p class="lead">{{vehicle.description}}</p>
                <h5>Initial Price: {{vehicle.price}}</h5>
                <br>
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Engine Specifications</td>
                      <td>{{vehicle.vcc}}</td>
                    </tr>
                    <tr>
                      <td>Capacity</td>
                      <td>{{vehicle.capacity}}</td>
                    </tr>
                  </tbody>
                </table>
                </div>
            </div>
        </div>

          <p>
            <a style="color:orange; width:100%; text-align:justify; font-size:25px;" class="btn bg-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              Paymnet Plans
            </a>
          </p>

        <div class="collapse" id="collapseExample">
        <div class="card card-body">
        <div class="card-body mx-auto">
        <div class="row">
        {{#each results}}
        <div class="col-md-6 mb-5">
        <div class="card">
            <div class="card-header text-center">
                <b>{{yearcalc}} Years</b> 
            </div>
            <div class="card-body">
            </h4>
                <p>Interest Rate: Yearly {{rate}}%</p>
                <p>Monthly Payment: {{mPayment}}</p>
                <p>Total Payment:   {{tPayment}}</p>
                <p>Total Interest:   {{tInterest}}</p>
            </div>
        </div>
        </div>
        {{/each}}
        </div>
        </div>  
        </div>
        </div>
  </div>
</div>